RewriteEngine On
RewriteBase /BP15/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /BP15/index.php [L]
AddType application/javascript .js